USE [DavincciCRM]
GO
/****** Object:  Table [dbo].[CAMPAÑAS_CRM]    Script Date: 27/11/2021 11:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CAMPAÑAS_CRM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_CAMPAÑA] [varchar](30) NULL,
	[NUMERO_CAMPAÑA] [int] NOT NULL,
	[ASIGNADO_A] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[NUMERO_CAMPAÑA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CRM]    Script Date: 27/11/2021 11:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CRM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NUMERO_CAMPAÑA] [int] NOT NULL,
	[NOMBRE] [varchar](30) NOT NULL,
	[APELLIDOS] [varchar](50) NOT NULL,
	[TELEFONO] [varchar](10) NOT NULL,
	[DIRECCION] [varchar](30) NOT NULL,
	[OTRO] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Temporal]    Script Date: 27/11/2021 11:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Temporal](
	[NUMERO_CAMPAÑA] [varchar](5) NULL,
	[NOMBRE] [varchar](30) NULL,
	[APELLIDOS] [varchar](50) NULL,
	[TELEFONO] [varchar](15) NULL,
	[DIRECCION] [varchar](50) NULL,
	[OTRO] [varchar](30) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[SPGuardarDatosObligatorios]    Script Date: 27/11/2021 11:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SPGuardarDatosObligatorios]
(
@NUMERO_CAMPAÑA INT,
@NOMBRE VARCHAR(30),
@APELLIDOS VARCHAR(50),
@TELEFONO VARCHAR(10),
@DIRECCION VARCHAR(30)
)
	AS
		BEGIN
			BEGIN TRY
				INSERT INTO CRM (NUMERO_CAMPAÑA,NOMBRE,APELLIDOS,TELEFONO,DIRECCION)
				VALUES (@NUMERO_CAMPAÑA,@NOMBRE,@APELLIDOS,@TELEFONO,@DIRECCION)
			END TRY
			BEGIN CATCH
				SELECT ERROR_PROCEDURE()
			END CATCH
		END
GO
/****** Object:  StoredProcedure [dbo].[SPGuardarDatosSinColumnas]    Script Date: 27/11/2021 11:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SPGuardarDatosSinColumnas]
(
@Ruta varchar(100),
@Delimitador CHAR
)
AS
	BEGIN 
	Declare @comando nvarchar(400)
	BEGIN TRY
		
	set @comando = 'BULK INSERT Temporal FROM ''' + @ruta + ''' WITH (FIRSTROW = 1, FIELDTERMINATOR='''+ @Delimitador +''', ROWTERMINATOR=''\n'')'
	END TRY
	BEGIN CATCH
	SELECT ERROR_PROCEDURE()
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SPVerCampañas]    Script Date: 27/11/2021 11:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SPVerCampañas]
AS
	BEGIN
		SELECT NOMBRE_CAMPAÑA,NUMERO_CAMPAÑA,ASIGNADO_A FROM CAMPAÑAS_CRM
	END
GO
/****** Object:  StoredProcedure [dbo].[SPVerCampañasXCliente]    Script Date: 27/11/2021 11:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROC [dbo].[SPVerCampañasXCliente]
	@ASIGNADO_A VARCHAR(30)
AS 
	BEGIN
		SELECT NOMBRE_CAMPAÑA,NUMERO_CAMPAÑA,ASIGNADO_A FROM CAMPAÑAS_CRM WHERE ASIGNADO_A = @ASIGNADO_A
	END
GO
/****** Object:  StoredProcedure [dbo].[SPVerCRM]    Script Date: 27/11/2021 11:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SPVerCRM]
AS
	BEGIN
		SELECT NUMERO_CAMPAÑA,NOMBRE,APELLIDOS,TELEFONO,DIRECCION FROM CRM
	END
GO
